# These requirements are included here to facilitate automated testing on semaphore
# If you wish to use convml_tt yourself and particular if you are using a GPU
# for training you should follow the instructions in README.m

numpy>=1.16.2
matplotlib>=3.0.2
xarray>=0.11.3
netCDF4>=1.4.2

# CPU-based version of pytorch needed on semaphore (no GPU available on there)
# use "environment markers", https://stackoverflow.com/a/45018678
https://download.pytorch.org/whl/cpu/torch-1.1.0-cp37-cp37m-linux_x86_64.whl ; sys_platform == "linux"
https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp37-cp37m-linux_x86_64.whl ; sys_platform == "linux"

fastai==1.0.43post1
